@{
    ViewData["Title"] = "About us";
}

<div class="main-info">
    <br>
    <br>
    <br>
    <br>
    <div class="center">
        <b>
            <span>TRAIN THE</span>
        </b>
    </div>
    <div class="center info">
        <b>
            <span>FIGHTER IN YOU</span>
        </b>
    </div>
    <br>
    <br>
    <br>
    <div class="site-into">
        Welcome to Just4Fit, where fitness meets community! We're more than just a gym; we're a place where you can challenge yourself, connect with others, and achieve your health and wellness goals.

        At Just4Fit, we believe that fitness should be accessible to everyone, regardless of your age, fitness level, or experience. Whether you're a seasoned athlete or just starting your fitness journey, our state-of-the-art facilities and expert trainers are here to support you every step of the way.

        Join us today and discover a new way to train, socialize, and transform your body and mind. Experience the energy of our group classes, the personalized attention of our trainers, and the camaraderie of our community. Together, we'll help you become the best version of yourself.

        Are you ready to take the first step towards a healthier, happier you? Join Just4Fit today!
    <div>
</div>