<div class="Footer-container">
    <div class="footer">
        <div class="logo-f">
            <img src="~/Images/Logo.png" alt="">
        </div>
    </div>
    <div class="blur blur-f"></div>
    <div class="blur blur-f"></div>
</div>