@{
    var isAuthenticated = base.User.Identity.IsAuthenticated;

    var url = base.Context.Request.Path.ToString();

    var isMainPage = url == "/";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FitnessApp.Presentation.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="App">
        <div class="hero">
            <div class="left-h">
                <header class="header">
                    <a asp-controller="Home" asp-action="Index">
                        <img class="logo" src="~/Images/Logo.png"/>
                    </a>

                    <ul class="header-menu">
                        @if(!isMainPage)
                        {
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="AboutUs">About us</a>
                            </li>
                        }
                        <li>
                            <a asp-controller="Food" asp-action="Index">Food</a>
                        </li>
                        <li>
                            <a asp-controller="Exercise" asp-action="Index">Exercises</a>
                        </li>
                        <li>
                            <a asp-controller="News" asp-action="Index">News</a>
                        </li>
                        <li>
                            <a asp-controller="SportSupplement" asp-action="Index">Sport supplements</a>
                        </li>
                        @if(isAuthenticated)
                        {
                            <li>
                                <a asp-controller="Identity" asp-action="Profile">Profile</a>
                            </li>
                            <li>
                                <a asp-controller="Identity" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Identity" asp-action="Login">Login</a>
                            </li>
                            <li>
                                <a asp-controller="Identity" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </header>

                @RenderBody()

                <script src="~/js/show-password.js" asp-append-version="true"></script>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                @await RenderSectionAsync("Scripts", required: false)
            </div>
            
            @if(isMainPage)
            {
                <div class="right-h">
                    <partial name="_RightBar" />
                </div>
            }
        </div>

        @if(isMainPage)
        {
            <partial name="_News" />

            <partial name="_ExercisePrograms" />

            <partial name="_NutritionPrograms" />

            <partial name="_SupplementsPrograms" />

            <partial name="_Reasons" />

            <partial name="_Footer" />
        }
    </div>
</body>
</html>