<div class="Reasons" id="reasons">
    <div class="left-r">
        <img src="~/Images/reason1.png"/>
        <img src="~/Images/reason2.png"/>
        <img src="~/Images/reason3.png"/>
        <img src="~/Images/reason4.png"/>
    </div>

    <div class="right-r">
        <span>Some reasons</span>

        <div>
            <span class="stroke-text">why</span>
            <span> choose us?</span>
        </div>

        <div class="details-r">
            <div>
                <img src="~/Images/tick.png"/>
                <span>EXPERT COACHS</span>
            </div>

            <div>
                <img src="~/Images/tick.png"/>
                <span>TRAIN FASTER AND SMARTER THAN BEFORE</span>
            </div>

            <div>
                <img src="~/Images/tick.png"/>
                <span>FREE PROGRAMS FOR MEMBERS</span>
            </div>

            <div>
                <img src="~/Images/tick.png"/>
                <span>RELIABLE NUTRITION PROGRAMS</span>
            </div>
        </div>
    </div>
</div>
