<div class="heart-rate">
    <img src="~/Images/heart.png"/>
    <span>Heart Rate</span>  
    <span>116 bmp</span>  
</div>

<img src="~/Images/hero_image.png" class="hero-image"/>
<img src="~/Images/hero_image_back.png" class="hero-image-back"/>

<div class="calories">
    <img src="~/Images/calories.png"/>
    <div>
        <span>Calories burned</span>
        <span>220 kcal</span>
    </div>
</div>